@model IEnumerable<DogWalking.Models.BakingClassModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxNumberOfAttendees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxAge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxNumberOfAttendees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxAge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BakingClassId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BakingClassId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BakingClassId })
        </td>
    </tr>
}

</table>
