
@model DogWalking.Models.MyAccountModel

@{
    Layout = "~/MyAccountLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parent Details</title>
</head>
<body>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Parent.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parent.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Parent.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parent.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Parent.Sex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parent.Sex)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Parent.HomeContactNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parent.HomeContactNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Parent.CellphoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parent.CellphoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Parent.EmailAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parent.EmailAddress)
            </dd>

        </dl>
    </div>
</body>
</html>
